@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap");
* {
  background: radial-gradient(
    farthest-side ellipse at 10% 0,
    #333867 20%,
    #17193b
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Maven Pro", sans-serif;
  color: rgba(244, 244, 245, 0.901961);
}
body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg > path {
  background-color: transparent !important;
}
code {
  font-family: "Maven Pro", sans-serif;
}
.main {
  width: 100%;
}
.main-wrapper {
  flex-wrap: wrap;
  width: 100%;
}

/* Navigation Bar Starts */
.nav-logo {
  font-size: 1.3rem;
  margin: auto 0;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.075rem;
  background: linear-gradient(to right, rgb(202, 198, 198), rgb(110, 110, 110));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-search {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  max-height: 30px;
  margin: auto;
}
.nav-search input[type="text"] {
  background: rgba(0, 0, 0, 0.24);
  border: none;
  color: white;
}
.nav-profile {
  width: 40%;
  margin: auto;
}
.nav-profile-left {
  border-right: solid;
  border-image: linear-gradient(rgb(230, 230, 230), transparent) 1;
  border-bottom: 0;
  border-width: 2px;
  margin-right: 5px;
  padding: 0.25rem;
}
.notif {
  padding: 0px;
  padding-left: 2px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  background: rgb(21, 216, 174);
  margin: auto 0;
  font-size: 0.7rem;
}
.usr-arrow {
  margin: auto;
  padding: 0.2rem;
  background: transparent !important;
}
.nav-profile-right {
  width: 80px;
  margin: auto;
}
.nav-controls {
  width: 10%;
  margin: auto;
}

.nav-wrapper {
  padding: 0.5rem 1rem;
  background-color: rgb(243, 240, 240);
  flex-wrap: nowrap;
  width: 100%;
  flex-direction: row;
}
.usr-logo {
  width: 15%;
  object-fit: contain;
}
.usr-name {
  margin: auto 0;
  margin-left: 20px;
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 0.075rem;
  padding: 0;
}

/* Navigation Bar Ends */

/*Main Starts*/

/*Sidebar Starts*/
.main-content {
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2rem;
}
.sidebar {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  max-width: 20%;
  margin: 0 !important;
}

.sidebar-wrapper {
  margin: 0 !important;
}
.sidebar-title {
  width: 100%;
  text-align: justify;
  margin: 2rem 0 1rem 0 !important;
}

.s-wrapper {
  padding: 0rem;
}
.s-list {
  padding-left: 0;
}
.s-li {
  list-style-type: none;
  font-size: 1rem;
  letter-spacing: 0.075rem;
  padding: 0.75rem;
  text-transform: capitalize;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.301);
  margin: 0 5%;
  border-radius: 1rem;
}
.s-li:hover {
  background: rgba(0, 0, 0, 0.555);
  cursor: pointer;
}
.li-ico {
  font-size: 0.8rem;
  font-weight: 600;
  margin: auto 10px;
  opacity: 0.8;
  background: transparent;
}
.li-item {
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: lighter;
  margin-left: 10px;
  background: transparent;
}
.sidebar-content {
  padding: 0 !important;
}
.resource {
  pointer-events: none;
}
.progress {
  background: white !important;
  height: 5px !important;
  margin: auto;
  margin-top: 5px;
  width: 90%;
}
.progress-bar {
  background: red !important;
}
/*Sidebar Ends*/

/*Content Starts*/

.content {
  width: 80%;
}

.section-title {
  font-size: 1.5rem;
  letter-spacing: 0.07rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.card-display {
  display: flex;
  margin: auto;
}
.card {
  margin: auto;
  width: 30%;
  background: rgba(0, 0, 0, 0.267) !important;
  padding: 1rem;
}

.card * {
  background: transparent;
}
.card-title {
  font-size: 1.3rem;
  font-weight: 200;
}
.card-stat * {
  color: rgb(25, 175, 62) !important;
}
.card-stat-ico {
  margin: auto 0;
}
.card-stat-num {
  font-size: 2rem;
  font-weight: lighter;
}
.card-source {
  margin-top: 1rem;
}
.card-source-sr > span {
  padding: 10px;
  margin: auto;
}
.card-source * {
  color: rgb(151, 147, 147) !important;
}
.card-source-num {
  color: rgba(21, 216, 151, 0.726) !important;
}


/* Recharts*/

.content > .recharts-responsive-container {
  margin: 2rem auto;
  background-attachment: unset !important;
}

.content > .recharts-responsive-container  * {
    background: transparent !important;
}


/*Table Starts*/

.table-wrapper {
  background: rgba(0, 0, 0, 0.267) !important;
  padding: 1rem;
  width: 97%;
  margin: auto;
  margin-top: 2rem;
}

.table-wrapper * {
  background: transparent;
}

.table td {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: rgb(161, 158, 158);
}
.table {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.table thead > tr > th {
  border-bottom: none !important;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: rgb(161, 158, 158) !important;
}
.i-fn-1 {
  color: rgb(37, 228, 37);
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.2s;
}
.i-fn-2 {
  color: rgba(228, 75, 37, 0.671);
  cursor: pointer;
  font-weight: 500;
  transition: transform 0.2s;
}
.i-fn-2:hover,
.i-fn-1:hover {
  transform: scale(1.5);
}

.table_wrapper div:first-child {
  padding: 0.3rem;
}
.td-status {
  font-size: 0.8rem;
  display: inline-block;
  padding: 3px !important;
  margin-top: 5px !important;
  border-radius: 3px;
}
.processing {
  background: rgb(6, 131, 104) !important;
}
.shipped {
  background: rgba(6, 197, 54, 0.582) !important;
}

.deck {
  background: rgba(0, 0, 0, 0.267) !important;
  padding: 1rem !important;
  width: 97% !important;
  margin: auto;
  margin-top: 2rem;
}
.deck * {
  background: transparent;
}
.deck-wrapper {
  margin: auto !important;
}
.deck-left {
  margin: auto;
  padding: .5rem;
  background: rgba(0, 0, 0, 0.123) !important;
}
.left-title {
  width: 95%;
  margin: auto;
}
.left-title:last-child {
  margin: auto;
}
.table td img {
  height: 30px !important;
  width: 35px;
  border-radius: 3px;
  margin-right: 10px;
}
.trending-table * {
  background: transparent;
}
.deck-right{
  padding-right: 0 !important;
}
.right-wrapper {
  width: 100% !important;
  padding: 0 !important;
}
 .right-top,  .right-bottom{
  margin: auto !important;
}
.top-left, .top-right {
  margin: auto;
}
.top-right {
  padding: 0;
}
.right-bottom {
  margin-top: 1rem !important;

}
.top-right h3 {
  color: rgb(5, 221, 174);
}
.top-right h6 {
  background: -webkit-linear-gradient(rgb(0, 251, 105), rgb(4, 204, 144));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deck-progress-main{
  width: 100%;
  background:rgba(0, 34, 18, 0.74) !important;
}
.deck-progress {
  background: green !important;
}
.right-card {
  height: 150px;
  padding: .8rem;
    background: rgba(0, 0, 0, 0.123) !important;

}
.recharts-wrapper {
  width: 200px !important;
}
.campaign-btn {
  border: none;
  background: -webkit-linear-gradient(rgb(0, 251, 105), rgb(4, 204, 144));
  color: white;
  height: 40px;
  width: 100px;
}
